*{
	margin: 0;
	padding: 0;
}
header{
	padding: 7px 0 7px 0;
	overflow: hidden;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
}
.whitebck{
	background: #fff;
}
header>img{
	float: left;
	width: 70px;
	height: 16px;
	padding: 7px 16px 0 16px;
}
.search_login_box{
	overflow: hidden;
	float: right;
	width: 273px;
	height: 28px;
}
.search_login_box>.search{
	float: left;
	width: 76%;
	max-width: 460px;
	height: 21px;
	background-color: #f5f5f5;
	border-radius: 5px;
	padding-top: 7px;
}
.search_login_box>.search>a{
	color:#494949;
	text-decoration: none;
}
.search_login_box>.search>a>span{
	float: left;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/icon_Search.png) no-repeat center;
	background-size: 24px 24px;
	padding: 3px 4px 0 12px;
	box-sizing:content-box;
	opacity: .5;
}
.search_login_box>.search>a>input{
	color:#232323;
	width: 80%;
	float: left;
	outline: 0;
	font-size: 10px;
	border: none;
	background-color: #f5f5f5!important;
	height: 12px;
	line-height: 12px;
	/*margin-top: 2px;*/
	text-indent: 2px;
}
.search_login_box>.login{
	float: right;
	font-size: 12px;
	color:#494949;
	margin-top: 7px;
	width: 24%;
}
#login{
	display: inline-block;
	width: 100%;
	text-align: center;
	color:#494949;
	text-decoration: none;
}
.swiper-container{
	position: relative;
	z-index: 0;
	height: 200px;
}
.swiper-container img{
	width: 100%;
}
.conpany_info{
	border-bottom: 1px solid #eee;
}
.conpany_info>ul{
	overflow: hidden;
}
.conpany_info>ul>li{
	float: left;
	color:#9b9b9b;
	text-align: center;
	font-size: 10px;
	list-style: none;
	line-height: 28px;
}
.pro_type{
	padding: 7px 3px 8px 3px;
	border-bottom: 8px solid #eee;
}
.pro_type>ul{
	overflow: hidden;
}
.pro_type>ul>li{
	float: left;
	list-style: none;
	width: 20%;
	text-align: center;
}
.pro_type>ul>li>a{
	text-decoration: none;
	color:#494949;
}
.pro_type>ul>li>a>img{
	width: 48px;
	display: block;
	margin: 0 auto;
}
.pro_type>ul>li>a>p{
	font-size: 11px;
	margin-top: 3px;
}
.title_line{
	width: 160px;
	height: 1px;
	background-color: #bbb;
	margin: 22px auto 0;
}
.title_name{
	width: 90px;
	text-align: center;
	background-color: #fff;
	font-size: 16px;
	color:#222;
	margin: -12px auto 13px;
}
.fea_pro_list{
	border-bottom: 8px solid #eee;
	padding: 0 0 0 8px;
	overflow: hidden;
	padding-bottom: 18px;
	box-sizing:border-box;
}
.fea_pro_list>ul{
	list-style: none;
	overflow: hidden;
	width: 100%;
}
.fea_pro_list>ul>li{
	float: left;
	width: 50%;
	padding-right: 8px;
	padding-bottom: 8px;
	box-sizing:border-box;
}
.fea_pro_list>ul>li>.pro_box{
	border:1px solid #efefef;
	position: relative;
}
.pro_box>a{
	color:#494949;
	text-decoration: none;
}
.pro_box>a>img{
	width: 100%;
	padding: 3px;
	height: 180px;
	box-sizing:border-box;
}
.pro_box>a>.pro_text{
	padding: 6px;
}
.pro_text{
	padding: 6px;
}
.pro_text>.pro_name{
	font-size: 12px;
	color:#232323;
	white-space:nowrap;
	overflow: hidden;
	text-decoration: ellipsis;
}
.pro_text>.pro_detail{
	color:#777;
	font-size: 10px;
	line-height: 13px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.pro_text>.pro_price{
	color:#222;
	font-size: 12px;
}
.more_btn{
	display: block;
	width: 119px;
	margin: 0 auto;
	height: 34px;
	line-height: 32px;
	font-size: 12px;
	border: 1px solid #ddd;
	border-radius: 2px;
	text-align: center;
	margin-top: 5px;
	color:#777;
	text-decoration: none;
}
.more_btn>span{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/chevron_Right.png) no-repeat center;
	background-size:24px 24px;
	position: relative;
	top: 2px;
	opacity: .7;
}
.business{
	border-bottom: 8px solid #f5f5f5;
	height: 93vw;
	max-height: 470px;
}
.business>.business_box>ul{
	padding: 12px 3% 14px;
	overflow: hidden;
	list-style: none;
}
.business>.business_box>ul>li{
	float: left;
	width: 25%;
	text-align: center;
	font-size: 12px;
	box-sizing:border-box;
}
.business>.business_box>ul>li>img{
	width: 48px;
	margin: 0 auto 5px;
}
.business>.business_box>ul>li>span{
	display: block;
	text-align: center;
	font-size: 12px;
}
footer .active{
	color:#fe6600;
}
.brand_img_box{
	padding: 2px 16px 0 16px;
}
.brand_text{
	padding: 5px 16px;
	text-align: center;
	line-height: 23px;
}
.brand_text p{
	font-size: 12px;
	color: #232323;
	line-height: 18px;
	margin-bottom: 8px;
	margin-top: 8px;
}
.user_box{
	margin-bottom: 51px;
}
.login_help{
	border-bottom: 1px solid #eee;
	padding-top: 16px;
}
.user_login{
	margin-bottom: 16px;
	overflow: hidden;
	list-style: none;
}
.user_login>li{
	float: left;
	text-align: center;
	font-size: 12px;
	width: 33.3%;
}
.user_login>li>a{
	text-decoration: none;
	background-color:#eee;
	color:#444;
	border-radius: 2px;
	display: inline-block;
	padding: 4px 19px;
}
.platform{
	overflow: hidden;
	padding: 16px 10% 14px 10%;
	color:#777;
	font-size: 12px;
	border-bottom: 1px solid #eee;
}
.platform>dl{
	float: left;
	width: 50%;
	text-align: center;
}
.platform>dl>dt>a{
	display: inline-block;
	width: 36px;
	color:#494949;
}
.platform>dl>dt>a>img{
	display: inline-block;
	width: 36px;
	margin: 5px 0 8px 0;
}
.copyright{
	font-size: 10px;
	text-align: center;
	color: #ccc;
	padding: 16px 0;
}
.footer{
	background-color: rgba(250,250,250,1);
	border-top: 1px solid #ddd;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
.footer>ul{
	overflow: hidden;
}
.footer>ul>li{
	float: left;
	width: 25%;
	list-style: none;
	text-align: center;
}
.footer>ul>li>a{
	color: #494949;
	text-decoration: none;
}
.footer>ul>li>a>span{
	display: block;
	width: 24px;
	height: 24px;
	margin: 4px auto 2px auto;
	box-sizing: border-box;
}
.footer>ul>li>a>span>img{
	display: inline-block;
	width: 24px;
	height: 24px;
}
/*.footer>ul>li>a>.active{
	color:#fe6600;
}*/
.footer .act p{
	color:#fe6600;
}
.footer li p{
	color: #494949;
	font-size: 10px;
	text-align: center;
	margin-bottom: 4px;
	line-height: normal;
}
#goTopBtn{
	position: fixed;
	bottom: 120px;
	right: 15px;
	cursor: pointer;
	height: 36px;
	width: 36px;
	background-color: #fff;
	border-radius: 22px;
	opacity: .8;
	z-index: 999;
	border: 1px solid #999;
}
#goTopBtn span{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/arrow_Top.png) no-repeat center;
	background-size: 24px 24px;
	margin-top: 5px;
	margin-left: 5px; 
}
#kefu{
	position: fixed;
	bottom: 70px;
	right: 15px;
	cursor: pointer;
	height: 36px;
	width: 36px;
	background-color: #fff;
	border-radius: 22px;
	opacity: .8;
	z-index: 999;
	border: 1px solid #999;
}
#kefu>span{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/kefu_shouye.png) no-repeat center;
	background-size: 24px 24px;
	margin-top: 5px;
	margin-left: 5px;
}